@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width:740px) {
  .active p{
    @apply text-white bg-primary
  }
}
input[type="date"] {
  appearance: auto !important;
}
.delete-btn {
  background-color: #dc2626;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 8px;
}

.delete-btn:hover {
  background-color: #b91c1c;
}
